@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
margin: 0;
padding: 0;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: #D5E1EF;
    
}

.main-container{
    max-width: 320px;
    max-height: 497px ;
    text-align: center;
    background-color:#FFFFFF ;
    padding:16px 16px 40px 16px;
    position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  border-radius: 20px;
}
.image-container img{
    width: 288px;
    border-radius: 10px;
}

.heading-container h2{
    font-weight: 700;
font-size: 22px;
line-height: 28px;
text-align: center;

}
.para-container p{
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    padding: 16px 16px 0px 16px;
    color: #7D889E;
    


}
.text-container{
   width: 288px;
}